<section id="contact-info" class="section">
  <div class="contact-info-container">
    <div class="contact-info-header">
      <h2 class="contact-title">Contact me</h2>
      <span class="contact-email"> {{ profileData?.email }}</span>
    </div>
    <div class="email-form">
      <h3 class="contact-input-title">Send me an email:</h3>
      <input type="text" rows="1" placeholder="email" class="email-input" />
      <textarea rows="8" placeholder="Message" class="email-input"></textarea>
      <div style="margin: 20px 0">
        <a class="email-submit-btn">Send</a>
      </div>
    </div>
  </div>
  <div class="trademark-container"><span>Copyright</span></div>
</section>
